.gallery{
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gal{
    height: 250px;
    width: 370px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 1s;
}
.gal:hover{
   transform: scale(1.3s);
}
.gal img{
width: 100%;
}